<div class="banner">
  <div class="banner-container">
    <img class="img-banner" style="object-fit:cover;vertical-align:bottom" alt="" decoding="auto" sizes="100vw" src="https://a0.muscache.com/4ea/air/v2/pictures/b7ca8f0c-030a-401a-a3a6-fc3d50f3425f.jpg?t=c:3w-h2-gw,r:w3100-h2074-sfit,e:fjpg-c80" srcset="https://a0.muscache.com/4ea/air/v2/pictures/381cc337-5000-43e0-8685-32efdf0d978a.jpg?t=c:3w-h2-gw,r:w775-h518-sfit,e:fjpg-c80 775w, https://a0.muscache.com/4ea/air/v2/pictures/b7ca8f0c-030a-401a-a3a6-fc3d50f3425f.jpg?t=c:3w-h2-gw,r:w1550-h1037-sfit,e:fjpg-c80 1550w, https://a0.muscache.com/4ea/air/v2/pictures/b7ca8f0c-030a-401a-a3a6-fc3d50f3425f.jpg?t=c:3w-h2-gw,r:w3100-h2074-sfit,e:fjpg-c80 3100w">
  </div>
</div>


<div class="main-container">
  <div class="cards">
    <% @flats.each do |flat| %>
      <div class="card">
        <%= link_to flat_path(flat.id) do %>
          <img class="card-img-top" src="<%= flat.image_url %>" alt="Card image cap">
          <div class="card-body main">
            <div class="card-header-list">
              <h5 class="card-title" style="color: rgb(50,50,50)"><%= flat.name %></h5>
              <div>
                <%= link_to edit_flat_path(flat.id) do %>
                  <i class="fas fa-edit icon"></i>
                <% end %>
                </div>
              <div>
                <%= link_to flat_path(flat.id), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="far fa-trash-alt icon"></i>
                <% end %>
              </div>
            </div>
            <p class="card-text">$<%= flat.price_per_night %>/night</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fas fa-map-marker-alt"></i><span> </span>
              <%= flat.address %>
            </li>
            <li class="list-group-item card-footer">
              <div>
                <% i = 0 %>
                <% while i < flat.rating %>
                  <i class="fas fa-star" style="color: #2a7a66"></i>
                  <% i += 1 %>
                <% end %>
              </div>
            </li>
          </ul>
        <% end %>
      </div>
    <% end %>
    <div class="card add">
      <%= link_to new_flat_path do %>
        <div class="add-item">
          <h1 style="font-size: 120px"><i class="fas fa-plus"></i></h1>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="list-icons">
    <a href="#"><i class="fab fa-facebook-square"></i></a>
    <a href="https://github.com/jimmyjchen"><i class="fab fa-github-square"></i></a>
    <a href="https://linkedin.com/in/chenjimmy"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-weixin"></i></a>
  </div>
  <p>An Airbnb style clone, coded with ❤️ at Le Wagon</p>
</div>
